    /* Remove borders from all tables */
    table {
        border: none !important;
    }

    th,
    td {
        border: none !important;
    }

    /* Hide print button in print */
    @media print {
        .printbtn {
            display: none;
        }
    }
   
    