<div class="container d-flex justify-content-center">

  <div class="col-md-12 mb-6 border border-2 border rounded">
    <h3 class="text-center mb-4">
      <i class="fas fa-plus"></i>
      Money Receipt Create Form
    </h3>
    <form [formGroup]="moneyreceiptForm" (ngSubmit)="createMoneyReceipt()">
      <div class="form-container">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="issuingOffice" class="form-label">
              <i class="fas fa-university"></i>
              Office
            </label>
            <input type="text" class="form-control rounded-pill shadow-sm" id="issuingOffice"
              formControlName="issuingOffice" placeholder="Enter issuingOffice">
          </div>

          <div class="col-md-6 mb-3">
            <label for="moneyReceiptNo" class="form-label">
              <i class="fas fa-university"></i>
              Money Receipt No
            </label>
            <input type="number" class="form-control rounded-pill shadow-sm" id="moneyReceiptNo"
              formControlName="moneyReceiptNo" placeholder="Enter moneyReceiptNo">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="classOfInsurance" class="form-label">
              <i class="fas fa-university"></i>
              Class Of Insurance
            </label>
            <input type="text" class="form-control rounded-pill shadow-sm" id="classOfInsurance"
              formControlName="classOfInsurance" placeholder="Enter classOfInsurance">
          </div>

          <div class="col-md-6 mb-3">
            <label for="date" class="form-label">
              <i class="fas fa-university"></i>
              Date
            </label>
            <input type="date" class="form-control rounded-pill shadow-sm" id="date"
              formControlName="date" placeholder="Enter date">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="modeOfPayment" class="form-label">
              <i class="fas fa-university"></i>
              Mode Of Payment
            </label>
            <input type="text" class="form-control rounded-pill shadow-sm" id="modeOfPayment"
              formControlName="modeOfPayment" placeholder="Enter modeOfPayment">
          </div>

          <div class="col-md-6 mb-3">
            <label for="issuedAgainst" class="form-label">
              <i class="fas fa-university"></i>
              Issued Against
            </label>
            <input type="text" class="form-control rounded-pill shadow-sm" id="issuedAgainst"
              formControlName="issuedAgainst" placeholder="Enter issuedAgainst">
          </div>
        </div>


        <!-- Bill Section -->
        <div formGroupName="bill">

      

          <!-- Policy Section -->
          <div formGroupName="policies">

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="policyholder" class="form-label">
                  <i class="fas fa-user"></i>
                  Policy Holder
                </label>
                <select id="policyholder" formControlName="policyholder" class="form-control rounded-pill shadow-sm"
                  required>
                  <option value="" disabled>Select your policy holder</option>
                  <option *ngFor="let policy of bill" [ngValue]="policy.policy.policyholder">
                    {{policy.policy.policyholder}}</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="bankName" class="form-label">
                  <i class="fas fa-university"></i>
                  Bank Name
                </label>
                <input type="text" class="form-control rounded-pill shadow-sm" id="bankName" formControlName="bankName"
                  placeholder="Enter bank name">
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="address" class="form-label">
                  <i class="fas fa-home"></i>
                  Address
                </label>
                <input type="text" class="form-control rounded-pill shadow-sm" id="address" formControlName="address"
                  placeholder="Enter address">
              </div>
              <div class="col-md-6 mb-3">
                <label for="location" class="form-label">
                  <i class="fas fa-map-marker-alt"></i>
                  Location
                </label>
                <input type="text" class="form-control rounded-pill shadow-sm" id="location" formControlName="location"
                  placeholder="Enter location">
              </div>
            </div>

           

           
        

          </div>
        </div>

        <div class="text-center mb-3">
          <button type="submit" class="btn btn-outline-success rounded-pill shadow-sm"
            [disabled]="!moneyreceiptForm.valid">
            <i class="fas fa-paper-plane"></i> Submit
          </button>

        </div>

      </div>
    </form>
  </div>